@model MyWebsite.Models.Sınıflar.Context
<div class="contact-right">
    <form method="post" class="signin-form">
        <div class="input-grids">
            <input type="text" name="AdSoyad" id="Deger1" placeholder="Your Name*" class="contact-input"
                   required="" />
            <input type="email" name="Mail" id="Deger2" placeholder="Your Email*" class="contact-input"
                   required="" />
            <input type="text" name="Konu" id="Deger3" placeholder="Subject*" class="contact-input"
                   required="" />
        </div>
        <div class="form-input">
            <textarea name="Mesaj" id="Deger4" placeholder="Type your message here*" required=""></textarea>
        </div>
        <button class="btn btn-style btn-outline">Send Message</button>
    </form>
</div>
