@model MyWebsite.Models.Sınıflar.AboutMe
@{
    ViewBag.Title = "YeniAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>YeniAbout</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.FotoUrl)
    @Html.TextBoxFor(x => x.FotoUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama,15,1, new { @class = "form-control" })

    <br />
    <button class="btn btn-primary">Save Change</button>
</form>