
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>About Me</h3>
            <img src="~/web1/images/about_banner.jpg" alt="" />
           <p>augue duis dolore te </p>
        </div>
    </div>
</div>

